.chat-page {
    margin: 0px auto;
    max-width: 1000px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 950px;
    border-radius: 10px;
    border: 3px solid #21BFE1;
}

.chat-left {
    padding-right: 0px;
    overflow: auto;
    border-right: 1px solid #d6d6d7;
    width: 400px;
}

.chat-left::-webkit-scrollbar {
    width: 20px;
}

.chat-left::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-left::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.chat-recipient {
    display: flex;
    align-items: center;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
}

.chat-recipient:hover .recipient-name {
    color: #21BFE1
}

.recipient-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    transition: box-shadow .2s ease;
}

.recipient-pic:hover {
    box-shadow: 0 0 10px #21bee171;
}

.recipient-name {
    color: #333333d4;
    transition: color .2s ease;
}

.selected-recipient-name {
    color: #21BFE1;
}

.chat-preview {
    color: rgb(168, 168, 168);
}

.chat-right {
    position: relative;
    width: 600px;
}

.chat-right-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d7;
}

.chat-right-recipient-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    transition: box-shadow .2s ease;
    margin-top: 2px;
}

.chat-right-content {
    padding-top: 30px;
    height: 795px;
    overflow: scroll;
    border-bottom: 1px solid #d6d6d7;
}

.placeholder-icon {
    font-size: 80px;
    margin-bottom: 5px;
}

.chat-right-content-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 240px;
    color: #333333d4;
}

.chat-right-content-placeholder-title {
    margin-bottom: 10px;
}

.chat-right-content::-webkit-scrollbar {
    width: 20px;
}

.chat-right-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-right-content::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.message-form {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
}

.send-message-button {
    background-color: #21BFE1;
    border: none;
    width: 40px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: box-shadow .2s ease;
}

.send-message-button-disabled {
    background-color: rgba(128, 128, 128, 0.303);
    border: none;
    width: 40px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: default;
    transition: box-shadow .2s ease;
    pointer-events: none;
}

.send-message-button:hover {
    box-shadow: 0 0 15px #21bee171;
}

.message-input {
    text-align: left;
    font-size: 16px;
    width: 510px;
    border-radius: 10px;
    border: 1px solid #d6d6d7;
    transition: all .2s ease-out;
    padding: 5px 10px;
    resize: none;
    height: 40px;
}

.message-input-disabled {
    text-align: left;
    font-size: 16px;
    width: 510px;
    border-radius: 10px;
    border: 1px solid #d6d6d7;
    transition: all .2s ease-out;
    padding: 5px 10px;
    resize: none;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.303);
}

.chat-right-placeholder {
   height: 67px;
}

.message-input:focus {
    outline: none !important;
    border: 1px solid #21BFE1;
    box-shadow: 0 0 10px #21bee1a5;
}

.delete-message-button {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.508);
    cursor: pointer;
    transition: color .2s ease;
    position: absolute;
    right: 6px;
    top: 5px;
}

.delete-message-button:hover {
    color: red;
}

.delete-thread-button {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.508);
    cursor: pointer;
    transition: color .2s ease;
    position: absolute;
    top: 20px;
    right: 10px;
}

.delete-thread-button:hover {
    color: red;
}

.curr-user-msg {
    position: relative;
    text-align: right;
    background-color: #21bee1a2;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 350px;
    border-radius: 10px;
    padding: 10px;
    padding-right: 18px;
    word-break: break-word;
}

.curr-user-msg-content {
    text-align: left;
}

.target-user-msg {
    position: relative;
    text-align: left;
    margin-right: 350px;
    margin-left: 20px;
    background-color: #7f5ae57b;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 10px;
    word-break: break-word;
}

.curr-user-timestamp {
    color: gray;
    position: absolute;
    right: 10px;
    top: -20px;
    width: 200px;
}

.target-user-timestamp {
    color: gray;
    position: absolute;
    left: 5px;
    top: -20px;
    width: 200px;
}

.confirm-thread-delete {
    padding: 30px 30px 40px 30px;
    border: 2px solid #21BFE1;
    border-radius: 10px;
    width: 800px;
    text-align: center;
}

.message-icon {
    color: rgb(255, 255, 255);
}

.no-message-threads {
    margin-top: 100px;
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #d6d6d7;
    border-bottom: 1px solid #d6d6d7;
}
