.landing-page {
    height: 99vh;
    width: 99vw;
    background: url('https://i.imgur.com/ATHbyUn.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
}

.landing-page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 14vw;
}

.landing-page-forms-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-forms {
    position: relative;
}

.landing-lower-text {
    font-size: 18px;
}

.sign-up-landing-link {
    color: #21BFE1;
    cursor: pointer;
    transition: color .2s ease;
}

.landing-user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
    margin-right: 5vw;
}

.landing-user-logo-container {
    position: relative;
    /* transform: scale(.9);
    right: -3.5vw;
    bottom: 50px; */
}

.landing-user-logo {
    position: absolute;
    left: -270px;
    bottom: -170px;
}

.landing-user-pic {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.landing-user-continue {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    background-color: #21BFE1;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow .2s ease;
}

.landing-user-continue:hover {
    box-shadow: 0 0 15px #21BFE1;
}

.landing-user-switch {
    margin-top: 20px;
    font-size: 17px;
}

.landing-switch {
    color: #21BFE1;
    font-weight: 500;
    cursor: pointer;
}

@media only screen and (max-device-width: 570px) {
    /* .landing-page-content {
        margin-right: 5vw;
        padding-top: 32vw;
    } */

    .landing-page {
        height: 102vh;
        width: 100vw;
    }

    .landing-page-forms {
        top: 300px;
    }
}

@media (max-width: 1280px) {
    .login-form-landing {
        transform: scale(.8);
        margin-top: 100px;
    }

    .signup-form-landing {
        transform: scale(.8);
    }

    .landing-page-forms {
        margin-right: -180px;
        padding-top: 0px;
        margin-top: 70px;
    }

    .landing-user-logo {
        transform: scale(.8);
        margin-left: 5px;
    }
}

@media (max-width: 1500px) {
    .login-form-landing {
        transform: scale(.8);
        margin-top: 40px;
    }

    .signup-form-landing {
        transform: scale(.8);
        margin-top: 0px;
    }

    .landing-page-forms {
        margin-right: -180px;
        padding-top: 0px;
    }

    .landing-user-logo {
        transform: scale(.8);
        margin-left: 5px;
    }
}
