.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px 20px 100px;
    font-family: 'Rubik', sans-serif;
    border: 3px solid #21BFE1;
    border-radius: 10px;
}

.create-input {
    font-family: "Rubik", sans-serif;
    text-align: center;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #d6d6d7;
    transition: all .5s ease-out;
}

.create-input:focus {
    outline: none !important;
    border: 1px solid #21BFE1;
    box-shadow: 0 0 10px #21bee1a5;
}

.create-textarea {
    font-family: "Rubik", sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #d6d6d7;
    transition: all .5s ease-out;
    resize: none;
}

.create-textarea:focus {
    outline: none !important;
    border: 1px solid #21BFE1;
    box-shadow: 0 0 10px #21bee1a5;
}

.create-button {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    width: 400px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    background-color: #21BFE1;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow .5s ease-out;
}

.create-button:hover {
    box-shadow: 0 0 15px #21bee171;
}

.update-title {
    margin-left: 20px;
    width: 600px;
}

.update-body {
    margin-left: 14px;
    width: 600px;
    height: 60px;
}

@media (max-height: 1100px) {
    .modal.create-show {
        bottom: 5vh;
    }

    .modal.login-show {
        bottom: 20vh;
    }

    .modal.signup-show {
        bottom: 5vh;
    }

    .modal.update-show {
        bottom: 10vh;
    }
}

@media (max-height: 800px) {
    .horizontal-create {
        display: flex;
    }

    .horizontal-signup {
        display: flex;
    }

    .signup-div {
        flex-direction: column;
        margin: 10px 10px;
    }

    .signup-label {
        text-align: center;
    }

    .create-button {
        margin-top: 10px;
    }

    .modal.create-show {
        bottom: 10vh;
    }

    .modal.login-show {
        bottom: 15vh;
    }

    .modal.signup-show {
        bottom: 15vh;
    }

    .create-form {
        padding: 10px 40px;
    }
}
