.navigation-wrapper {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    height: 62px;
    z-index: 6;
    box-shadow: 0 0 9px 0 rgb(117 124 131 / 36%)
}

.navigation-container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.profile-lines {
    font-size: 20px;
    color: #808A8C;
}

.nav-logo {
    margin-left: 10px;
    height: 160px;
    margin-bottom: 122px;
}

.nav-links {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.5px;
    display: flex;
    justify-content: right;
    width: 500px;
    list-style: none;
    text-transform: uppercase;
}

.nav-login-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color .5s ease;
    color: rgba(0, 0, 0, 0.508);
    margin-right: 30px;
}

.nav-login-link-last {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color .5s ease;
    color: rgba(0, 0, 0, 0.508);
}

.nav-signup-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color .5s ease;
    color: rgba(0, 0, 0, 0.508);
    margin-right: 30px;
}

.nav-login-link:hover,
.nav-signup-link:hover,
.nav-login-link-last:hover {
    color: #21BFE1;
}

.nav-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 300px;
    color: #808A8C;
    font-size: 22px;
}

.nav-logo-link {
    cursor: pointer;
    transition: color .5s ease;
}

.nav-logo-link:hover {
    color: #21BFE1;
}

.nav-update {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    height: 34px;
    width: 150px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    background-color: #21BFE1;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow .5s ease;
}

.nav-update:hover {
    box-shadow: 0 0 15px #21bee171;
}

.envelope {
    margin-right: 5px;
}


.plus-icon:hover {
    color: #21BFE1;
}

.slogan {
    color: rgba(0, 0, 0, 0.508);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.5px;
    display: flex;
    justify-content: left;
    width: 400px;
    list-style: none;
    text-transform: uppercase;
}

.no-underline {
    text-decoration: none;
    color: #808A8C;
}

@media (max-width: 1500px) {
    .slogan {
        display: none;
    }

    .navigation-container {
        margin: 0 50px;
    }

    .nav-links {
        justify-content: center;
    }

    .nav-login-link {
        margin-right: 20px;
    }
    .nav-logo {
        margin-left: 30px;
    }

    .nav-logos {
        margin-right: 50px;
    }

    .nav-logo-link {
        padding: 0 10px;
    }

    .nav-update {
        max-width: 150px;
        min-width: 150px;
    }
}

@media (max-width: 1000px) {
    .nav-logos {
        display: none;
    }
}
