.login-form-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 100px 20px 100px;
    /* border: 3px solid rgba(0, 0, 0, 0.491); */
    border-radius: 10px;
    position: relative;
    margin-top: 17vh;
}

.login-logo {
    position: absolute;
    top: -80px;
    right: 53px;
}

.login-div-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    z-index: 5;
}

.landing-login-input {
    text-align: left;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #d6d6d7;
    transition: all .2s ease-out;
    padding: 0 10px;
    font-size: 16px;
}

.landing-login-input:focus {
    outline: none !important;
    border: 1px solid #21BFE1;
    box-shadow: 0 0 10px #21bee1a5;
}
