.signup-div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.signup-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.signup-label {
    width: 200px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.579);
}

.signup-button {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 18px;
    height: 50px;
    width: 350px;

    text-transform: uppercase;
    background-color: #21BFE1;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow .2s ease-out;
}

.signup-button:hover {
    box-shadow: 0 0 15px #21bee171;
}

.signup-errors {
    color: rgb(255, 0, 0);
    margin-bottom: 40px;
    text-align: center;
    width: 300px;
    height: 40px;
}

.aws-div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 0px;
    width: 100%;
}
.aws-input {
    height: 40px;
}

.aws-loading3 {
    text-align: center;
    height: 20px;
    padding-bottom: 30px;
    position: relative;
    right: 57px;
    top: 10px;
}

.aws-loading-text {
    position: absolute;
    top: -5px;
    right: 30px;
}

.aws-loading-create {
    text-align: center;
    height: 20px;
    padding-bottom: 30px;
    position: relative;
}

.aws-loading-text-create {
    position: absolute;
    top: -30px;
    right: -192px;
}
