.single-post-page-container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d6d6d7;
    width: 1400px;
    padding-bottom: 90px;
}

.single-post-content-container {
    display: flex;
}

.single-post-page {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding-left: 40px;
}

.single-post-title {
    padding: 20px 40px;
    padding-top: 100px;
    margin-top: 0px;
    margin-bottom: 24px;
    word-break: break-word;
    font-size: 44px;
    text-transform: capitalize;
    font-family: "Oswald", sans-serif;
    letter-spacing: -0.5px;
    font-weight: 600;
    line-height: 50px;
}

.single-post-img {
    height: 710px;
    object-fit: contain;
    background-color: black;
    border-radius: 10px;
}

.single-post-subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D7D7D6;
    padding-top: 13px;
    padding-bottom: 10px;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-size: 15px;
    color: #3A4148;
}

.single-post-user {
    font-weight: 600;
    display: flex;
    align-items: center;
}

.single-post-user-and-date {
    display: flex;
    align-items: center;
}

.single-post-date {
    font-weight: 100;
}

.single-post-body {
    margin: 17px 0;
    font-size: 21px;
    font-weight: 400;
    word-break: break-word;
    white-space: pre-wrap;
}

.single-post-likes {
    cursor: pointer;
    transition: color .2s ease;
}

.single-post-likes:hover {
    color: #21BFE1;
}

@media (max-width: 1920px) {
    .single-post-title {
        padding-top: 110px;
    }

    .single-post-img {
        height: 510px;
    }

    .comments-content {
        height: 578px;
    }

    .single-post-page-container {
        padding-bottom: 20px;
    }
}

@media (max-width: 1280px) {
    .single-post-title {
        padding-top: 60px;
    }

    .single-post-img {
        height: 330px;
        width: 600px;
        margin: 0 auto;
    }

    .comments-content {
        height: 298px;
    }

    .single-post-page-container {
        padding-bottom: 20px;
    }
}

@media (min-width: 571px) and (max-width: 1280px) {
    .nav-logos {
        margin-right: 0;
    }

    .single-post-page-container {
        background-color: transparent;
        max-width: 1280px;
        border: none;
    }

    .single-post-page {
        padding: 0;
    }

    .single-post-title {
        text-align: center;
        margin-top: 40px;
    }

    .single-post-content-container {
        flex-direction: column;
        margin: 0 auto;
    }

    .single-post-comments {
        margin: 30px auto;
        border: 1px solid #d6d6d7;
        border-radius: 10px;
    }

    .comments-content {
        height: 400px;
        padding-top: 30px;
        border: none;
    }
}

@media only screen and (max-device-width: 570px) {
    .single-post-title {
        font-family: "Rubik", sans-serif;
    }

    .single-post-title {
        padding-top: 120px;
    }

    .single-post-img {
        height: 630px;
        width: 680px;
        margin: 0 auto;
    }

    .comments-content {
        height: 298px;
    }

    .single-post-page-container {
        padding-bottom: 20px;
    }
}
