.all-posts {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 62px;
}

.featured-posts {
    display: grid;
    width: 100%;
    height: 525px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
}

.featured-posts > :first-child {
    grid-column: span 2;
    grid-row: span 2;
}

.main-post {
    position: relative;
}

.featured-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: 525px;
    /* filter: brightness(.75); */
}

.img-gradient {
    position:relative;
    height: 98.5%;
}


.img-gradient::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to bottom, transparent 30%,rgba(0, 0, 0, 0.839) 100%);
}

.side-featured-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: 262.5px;
    /* filter: brightness(.75); */
}

.bottom {
    position: relative;
    bottom: 4px;
}

.featured-user-and-title {
    position: absolute;
    color: white;
    bottom: 30px;
    margin: 0 40px;
    font-size: 24px;
    z-index: 5;
}

.featured-user {
    font-size: 20px;
    /* text-shadow: 1px 1px 1px black; */
    /* -webkit-text-stroke: 0.75px black; */
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-bottom: 2.5px;
    /* font-family: "Fjalla One", sans-serif; */
}

.featured-title {
    font-family: "Fjalla One", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    /* text-shadow: 3px 3px 3px black; */
    /* -webkit-text-stroke: 1px black; */
    transition: color .2s ease;
    letter-spacing: 0.5px;
    font-size: 40px;
    margin-right: 180px;
}

.featured-title:hover {
    color: #21BFE1;
}

.side-featured-user-and-title {
    position: absolute;
    color: white;
    bottom: 10px;
    margin: 0 20px;
    z-index: 5;
    margin-bottom: 5px;
}

.side-featured-user {
    font-weight: 700;
    font-size: 18px;
    /* text-shadow: 1px 1px 1px black; */
    /* -webkit-text-stroke: 0.75px black; */
    display: flex;
    align-items: center;
    color: red;
}

.side-featured-title {
    font-family: "Fjalla One", sans-serif;
    font-weight: 700;
    margin-top: 3px;
    font-size: 24px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    text-transform: capitalize;
    /* text-shadow: 3px 3px 3px black; */
    /* -webkit-text-stroke: 0.75px black; */
    transition: color .2s ease;
    margin-right: 90px;
}

.side-featured-title:hover {
    color: #21BFE1;
}

.one-post {
    width: 680px;
    height: 722px;
    border: 1px solid #d7d7d7;
    transition: all 0.2s ease-out;
}

.one-post:hover {
    box-shadow: 0 0 2px #000000;
}

.one-post-img-container {
    height: 450px;
    position: relative;
}

.one-post-img {
    height: 450px;
    width: 438px;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.one-post-content {
    position: relative;
    background-color: white;
    height: 270px;
    padding: 0 22px;
    word-break: break-word;
}

.more {
    padding: 25px 10px 10px 10px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.more_text {
    font-weight: 600;
    margin: 0 15px;
    font-size: 20px;
    color: #757c83;
    width: 400px;
    text-align: center;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D7D7D6;
}

.lower-index-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 20px;
    row-gap: 80px;
    padding-bottom: 100px;
}

.one-post-user-name {
    color: #21BFE1;
    padding-top: 3px;
}

.one-post-user {
    font-size: 14px;
    color: #757c83;
    padding-top: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.one-post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.one-post-title-and-body {
    overflow-y: auto;
    max-height: 150px;
}

.one-post-title {
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 24px;
    color: #3A4148;
    transition: color .2s ease;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.one-post-title-link {
    text-decoration: none;
}

.one-post-title:hover {
    color: #21BFE1;
}

.one-post-body {
    color: #3A4148;
    font-size: 18px;
    white-space: pre-wrap;
}

.one-post-title-and-body::-webkit-scrollbar {
    width: 20px;
}

.one-post-title-and-body::-webkit-scrollbar-track {
    background-color: transparent;
}

.one-post-title-and-body::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.read-more {
    text-decoration: none;
    text-transform: uppercase;
    color: #3A4148;
    transition: color .2s ease;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: #21BFE1;
    transform: scale(1, 1.1);
}

.read-more:hover {
    color: #69e2fd;
}

.one-post-footer {
    position: absolute;
    bottom: 22px;
    font-size: 20px;
    color: #3A4148;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-post-likes {
    margin-right: 47px;
    transition: color .2s ease;
}

.one-post-likes:hover {
    color: #21BFE1;
}

.featured-likes {
    position: absolute;
    font-size: 40px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 5;
    font-weight: bold;
    color: white;
    /* text-shadow: 3px 3px 3px black; */
    transition: color .2s ease;
}

.side-featured-likes {
    position: absolute;
    font-size: 24px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 5;
    font-weight: bold;
    color: white;
    /* text-shadow: 3px 3px 3px black; */
    /* -webkit-text-stroke: 0.25px black; */
    transition: color .2s ease;
}

.one-post-liked {
    color: #21BFE1;
}

.featured-likes:hover {
    color: #21BFE1;
}

.side-featured-likes:hover {
    color: #21BFE1;
}

.profile-link {
    text-decoration: none;
    color: #808A8C;
    transition: all .2s ease;
}

.featured-profile-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color .2s ease;
}

.featured-profile-pic {
    margin-top: 10px;
}

.profile-link:hover,
.featured-profile-link:hover {
    color: #21BFE1;
}

.confirm-delete {
    padding: 30px 30px 40px 30px;
    border: 2px solid #21BFE1;
    border-radius: 10px;
}

.confirm-delete-buttons {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
}

.confirm-delete-button-yes,
.confirm-delete-button-no {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    background-color: #e12e21;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow .2s ease-out;
}

.confirm-delete-button-no {
    background-color: #21BFE1;
}

.confirm-delete-button-yes:hover {
    box-shadow: 0 0 15px #e12121;
}

.confirm-delete-button-no:hover {
    box-shadow: 0 0 15px #21bee171;
}

.follow-more-users {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.view-all {
    margin-top: 50px;
    color: #21BFE1;
    transition: color .2s ease;
}

.view-all:hover {
    color: #7F5AE5;
}

@media (max-width: 1500px) {
    .featured-posts > :first-child {
        grid-column: span 3;
    }

    .side-post {
        display: none;
    }

    .lower-index-grid {
        grid-template-columns: auto auto;
    }

    .more_text {
        text-align: center;
        font-weight: 600;
        margin: 0 15px;
        font-size: 20px;
        color: #757c83;
        width: 700px;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #D7D7D6;
    }
}

@media (max-width: 1350px) {
    .one-post {
        width: 400px;
        height: 750px;
    }

    .one-post-content {
        height: 298px;
    }
}

@media (max-width: 1024px) {
    .one-post-body {
        display:block;
    }

    .lower-index-grid {
        grid-template-columns: auto auto;
        row-gap: 40px;
    }

    .one-post {
        width: 420px;
        margin-bottom: 30px;
        height: 732px
    }

    .one-post-content {
        height: 280px;
    }

    .one-post-user {
        margin-bottom: 15px;
    }

}

@media (max-width: 1000px) {
    .featured-user,
    .featured-title,
    .side-featured-title,
    .one-post-title,
    .read-more {
        font-family: "Rubik", sans-serif;
    }
}
