.single-post-comments {
    background-color: white;
    width: 600px;
    margin-left: 30px;
    padding-right: 5px;
}

.comments-content {
    overflow-y: scroll;
    border-bottom: 1px solid #d6d6d7;
    border-top: 1px solid #d6d6d7;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 15px;
    height: 778px;
}

.comments-content::-webkit-scrollbar {
    width: 20px;
}

.comments-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.comments-content::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.comments-title {
    margin-bottom: 10px;
}

.comment-user {
    display: flex;
    align-items: center;
    list-style: none;
    color: #3A4148;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 5px;
}

.comment-timestamp {
    color: #3A4148;
    font-weight: 100;
}

.comment-body {
    margin-bottom: 8px;
    padding: 3px 20px;
    word-break: break-word;
    font-size: 18.5px;
    line-height: 22px;
    font-family: "Questrial", sans-serif;
}

.delete-comment-button {
    position: relative;
    top: 1.5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.508);
    cursor: pointer;
    transition: color .2s ease;
}

.delete-comment-button:hover {
    color: red;
}

.update-comment-button {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.508);
    cursor: pointer;
    transition: color .2s ease;
    margin-right: 10px;
    margin-left: 10px;
}

.update-comment-button:hover {
    color: #21BFE1;
}

.update-comment-form {
    padding: 40px;
    border: 1px solid #21BFE1;
    border-radius: 10px;
}

.update-comment-textarea {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    height: 80px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #d6d6d7;
    transition: all .2s ease-out;
    resize: none;
    margin-bottom: 10px;
}

.update-comment-textarea:focus {
    outline: none !important;
    border: 1px solid #21BFE1;
    box-shadow: 0 0 10px #21bee1a5;
}

.comment-form-div {
    margin-top: 10px;
}

.comment-form {
    margin: 0 40px;
    margin-bottom: 20px;
}

.comment-form-textarea {
    font-size: 18px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    height: 116px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #d6d6d7;
    transition: all .2s ease-out;
}

.comment-form-textarea:focus {
    outline: none !important;
    border: 1px solid #21BFE1;
    box-shadow: 0 0 10px #21bee1a5;
}

.comment-form-button-wrapper {
    display: flex;
    justify-content: right;
}

.comment-form-button {
    margin-top: 15px;
    margin-right: 5px;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    width: 160px;
    text-transform: uppercase;
    background-color: #21BFE1;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow .2s ease-out;
}

.comment-form-button:hover {
    box-shadow: 0 0 15px #21bee171;
}

.comment-form-button-disabled {
    background-color: gray;
    color: rgba(255, 255, 255, 0.536);
    cursor: default;
}

.comment-form-button-disabled:hover {
    box-shadow: none;
}

.one-comment {
    background-color: #f5f7f9;
    border-radius: 10px;
    border: 1px solid #d6d6d7;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.comment-errors {
    color: rgb(255, 0, 0);
    text-align: center;
    height: 40px;
}

.comment-profile-link {
    text-decoration: none;
    color: #333;
    transition: color .2s ease;
}

.comment-profile-link:hover {
    color: #21BFE1
}
