.profile-page {
    max-width: 1400px;
    margin: 0 auto;
}

.profile-header {
    margin-top: 125px;
    border-top: 1px solid #d6d6d7;
    border-bottom: 1px solid #d6d6d7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 300px;
}

.profile-pic-wrapper {
    position: relative;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.update-profile-pic-button {
    position: absolute;
    top: 77px;
    right: 77px;
    font-size: 42px;
    color: transparent;
    cursor: pointer;
    transition: color .2s ease;
}

.profile-pic-wrapper:hover .update-profile-pic-button {
    color:rgba(255, 255, 255, 0.826)
}

.profile-pic-wrapper:hover .update-profile-pic-button:hover {
    color: #21BFE1;
}

.profile-header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-stats {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-stat {
    font-weight: 400;
    margin: 0 22px;
    width: 120px;
    text-align: center;
}

.profile-grid-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.profile-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-bottom: 100px;
}

.one-profile-post {
    width: 438px;
    height: 652px;
    border: 1px solid #d7d7d7;
    margin: 1.25em 1.25em;
    transition: all .2s ease;
}

.one-profile-post-content {
    position: relative;
    background-color: white;
    height: 200px;
    padding: 0 22px;
    word-break: break-word;
}

.one-profile-post:hover {
    box-shadow: 0 0 2.5px #000000;
}

.profile-title {
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.profile-title-name {
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.follow-message-buttons {
    display: flex;
}

.follow-button {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    background-color: #21BFE1;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.follow-button:hover {
    box-shadow: 0 0 20px #21BFE1;
}

.message-button {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    background-color: #21BFE1;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease;
    margin-left: 20px;
}

.message-button:hover {
    box-shadow: 0 0 20px #21BFE1;
}

.unfollow-button {
    background-color: white;
    color: #333;
    border: 1px solid #d6d6d7;
}

.unfollow-button:hover {
    box-shadow: 0 0 10px black;
}

.profile-buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 18px;
    color: #3A4148;
    cursor: pointer;
}

.update-errors {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    height: 40px;
}

.profile-likes {
    position: absolute;
    top: 25px;
    right: -25px;
    margin-right: 47px;
    transition: color .2s ease;
    cursor: pointer;
    font-size: 20px;
    transition: color .2s ease;
    color: #3A4148;
}

.profile-likes:hover {
    color: #21BFE1;
}

.view-follows {
    cursor: pointer;
    transition: color .2s ease;
}

.view-follows:hover {
    color: #21BFE1;
}

.profile-post-type {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-transform: capitalize;
}

.profile-post-type-button {

    font-size: 24px;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .2s ease;
}

.profile-post-type-button:hover {
    color: #21BFE1;
}

.profile-type-underline {
    border-bottom: 2px solid rgba(51, 51, 51, 0.341);
}

.update-image-button {
    position: absolute;
    top: 22px;
    right: 22px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.826);
    cursor: pointer;
    transition: color .2s ease;
}

.update-image-button:hover {
    color: #21BFE1;
}

.one-post-liked {
    color: #21BFE1;
}

@media (max-width: 1280px) {
    .profile-grid {
        grid-template-columns: auto auto;
        row-gap: 60px;
    }

    .one-profile-post-content {
        height: 283px;
    }

    .one-profile-post {
        width: 438px;
        height: 734px;
        border: 1px solid #d7d7d7;
        margin: 1.25em 1.25em;
    }
}
