.aws-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aws-input {
    margin-top: 20px;
    height: 40px;
}

.aws-input-update {
    margin-top: 10px;
    height: 40px;
}

.aws-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    width: 160px;
    text-transform: uppercase;
    background-color: #21BFE1;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow .2s ease;
    border: none;
    margin-top: 20px;
}

.aws-submit:hover {
    box-shadow: 0 0 10px #21BFE1;
}

.aws-submit-update {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    width: 160px;
    text-transform: uppercase;
    background-color: #7f5ae5;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow .2s ease;
    border: none;
    margin-top: 10px;
}

.aws-submit-update:hover {
    box-shadow: 0 0 10px #7f5ae5;
}

.aws-loading {
    text-align: center;
    padding-top: 40px;
}

.aws-loading-update {
    text-align: center;
    padding-top: 20px;
}

.aws-label-signup:hover {
    box-shadow: 0 0 10px #7f5ae5;
}

input[type="file"] {
    display: none;
}

.aws-submit2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    height: 30px;
    width: 140px;
    text-transform: uppercase;
    background-color: #7f5ae5;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow .2s ease;
    border: none;
    margin-left: 15px;
}

.aws-submit2:hover {
    box-shadow: 0 0 10px #7f5ae5;
}

.aws-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 30px;
}


.aws-loading2 {
    text-align: center;
    height: 20px;
}

.aws-loading-text {
    padding-bottom: -20px;
}

.aws-div3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.upload-disabled {
    background-color: rgba(128, 128, 128, 0.375);
    pointer-events: none;
}
